/*
#70ff00
*/
.heading {
  width: 100%;
  height: 40vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #70ff00;
  border-radius: 20px;
}
.heading img {
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  box-shadow: 0 0 10px #70ff00;
  border: 1px solid #70ff00;
}
.mega-cont {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont {
  min-width: 350px;
  height: 60vh;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.login {
  height: 60vh;
  min-width: 350px;
  scroll-snap-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  backdrop-filter: blur(10px);
  background: radial-gradient(circle, rgb(37, 211, 102), transparent, rgb(37, 211, 102), transparent, transparent, rgb(37, 211, 102), transparent, transparent);
}
.login input {
  width: 200px;
  height: 35px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
.login button {
  width: 200px;
  height: 35px;
  padding: 15px;
  color: white;
  display: grid;
  place-content: center;
  border: 1px solid #70ff00;
  border-radius: 15px;
  background: rgb(37, 211, 102);
}
.login button:hover {
  box-shadow: 0 0 10px #70ff00;
}
.sign-up {
  visibility: hidden;
  height: 100%;
  min-width: 355px;
  scroll-snap-align: start;
  padding: 20px;
  scroll-behavior: smooth;
  display: flex;
  gap: 20px;
}
.sign-up .tabs {
  scroll-snap-align: start;
  min-width: 350px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sign-up .tabs input {
  width: 75%;
  padding: 10px 5px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 5px;
}
select {
  width: 70%;
  height: 35px;
}
.linknext {
  width: 50%;
  border: none;
  text-decoration: none;
  color: black; 
  padding: 10px;
  text-align: center;
  background: rgb(37, 211, 102);
  border-radius: 5px;
}
.linknext:hover {
  border: 1px solid #70ff00;
  box-shadow: 0 0 10px #70ff00;
}
#tab3 {
  visibility: hidden;
  z-index: -1000;
}
.sub-holder {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
}
#tab3 h3 {
  font-size: 1.5rem;
  text-shadow: 0 0 10px #70ff00;
  overflow-y: auto;
}
.pro2, .pro3, .pro4 {
  max-width: 350px;
  height: 210px;
  background: rgb(37, 211, 102);
  padding: 20px;
  border-radius: 20px;
}
.pay-wall {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: -1000;
  background: rgba(0, 0, 0, 0.8);
}
.subsribe {
  width: auto;
  height: 35px;
  padding: 10px;
  display: grid;
  place-content: center;
  border: 1px solid #70ff00;
  border-radius: 5pc;
  background: rgb(99, 168, 204);
}
.subsribe:hover {
  box-shadow: 0 0 10px teal;
}
.free {
  max-width: 350px;
  height: 135px;
  color: black;
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 1px dashed rgb(37, 211, 102);
}
.pro1 {
  max-width: 350px;
  height: 155px;
  color: black;
  background: #70ff00;
  padding: 20px;
  border-radius: 20px;
}
.tabb {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(130deg, rgb(37, 211, 102), rgb(37, 211, 102), rgba(37, 211, 102, 0.5), transparent, transparent, transparent), url('inter.jpg.png');
  background-size: 100% 100%;
}
.header h1 {
   font-size: 2rem;
}
.header button {
  border: none;
  background: rgb(37, 211, 102);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
}
.contact-info {
  position: absolute;
  top: 15vh;
  right: 0;
  visibility: hidden;
  z-index: -1000;
  width: 300px;
  height: 400px;
  background: rgb(37, 211, 102);
  border: 1px solid #70ff00;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  }
.contact-info img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid white;
}
.image-wrap {
  position: relative;
}
.contact-info .image-wrap::before {
  content: "";
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 297px;
  height: 150px;
  margin-left: -73px;
  margin-top: -34px;
  background: rgb(98, 167, 204);
  z-index: -1;
  
}
.contact-info button {
  width: 90%;
  border: 1px solid #70ff00;
  border-radius: 15px;
  background: rgb(98, 167, 204);
  color: white;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  }
